extended-data_ARR-methods.tiff
extended-data_Te-parameters.tiff
extended-data_Te-validation.tiff
extended-data_acclimatisation.tiff
extended-data_behaviour.tiff
extended-data_collection-locs.tiff
extended-data_dormancy.tiff
extended-data_model-averaging.tiff
extended-data_niches-across-lat.tiff
extended-data_range-source.tiff
extended-data_thermal-tolerance-breadth.tiff
extended-data_warm-cold-range.tiff
supplement_pgls.tiff
